<h1>Event Listing</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Search By Event Type : </h3>
    </div>
    <div class="col">
      <div class="form-group">
        <select class="form-control">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option1">Option 4</option>
          <option value="option2">Option 5</option>
          <option value="option3">Option 6</option>
          <option value="option1">Option 7</option>
          <option value="option2">Option 8</option>
          <option value="option3">Option 9</option>
        </select>
      </div>
    </div>
  </div>
</div>


<div class="container" class="row" class="col-md-6">
  <div class="jumbotron">
        <h5>Event Type : </h5>
        <h5>Description : </h5>
        <h5>Total Package : </h5>
        <h5>Participant Count : </h5>
        <h5>Charges :</h5>
        <br>
        <button type="submit" class="btn btn-primary">Book</button>&nbsp;&nbsp;
      </div>
    </div>
