<div class="container">

    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1"><b>Status</b></div>
        <div class="col col-2"><b>Total Amount</b></div>
        <div class="col col-3"><b>Amount Paid</b></div>
        <div class="col col-4"><b>Balance Amount</b></div>
        <div class="col col-5"><b>Payment Date</b></div>
        <div class="col col-6"><b>Mode of Payment</b></div>
        <div class="col col-7"><b>Actions</b></div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Status">Paid</div>
        <div class="col col-2" data-label="Total Amount">10000</div>
        <div class="col col-3" data-label="Amount Paid">5000</div>
        <div class="col col-4" data-label="Balance Amount">5000</div>
        <div class="col col-5" data-label="Payment Date">01/12/2023</div>
        <div class="col col-6" data-label="Mode of Payment">Cash</div>
        <div class="col col-7" data-label="Actions"><button class="btn btn-primary">Pay</button></div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Status">Paid</div>
        <div class="col col-2" data-label="Total Amount">10000</div>
        <div class="col col-3" data-label="Amount Paid">5000</div>
        <div class="col col-4" data-label="Balance Amount">5000</div>
        <div class="col col-5" data-label="Payment Date">01/12/2023</div>
        <div class="col col-6" data-label="Mode of Payment">Cash</div>
        <div class="col col-7" data-label="Actions"><button class="btn btn-primary" >Pay</button></div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Status">Paid</div>
        <div class="col col-2" data-label="Total Amount">10000</div>
        <div class="col col-3" data-label="Amount Paid">5000</div>
        <div class="col col-4" data-label="Balance Amount">5000</div>
        <div class="col col-5" data-label="Payment Date">01/12/2023</div>
        <div class="col col-6" data-label="Mode of Payment">Cash</div>
        <div class="col col-7" data-label="Actions"><button class="btn btn-primary">Pay</button></div>
      </li>
    </ul>
  </div>
  <!-- -->