<div class="container">

    <div class="card">
      <div class="icon">
      
      </div>
      <strong> 30
      </strong>
      <div class="card__body">
      Events Live Currently Live
      </div>
      <span><a routerLink="/ViewEvent">View Events</a></span>
    </div>
    
     <div class="card">
      <div class="icon">
        
      </div>
      <strong> 500
      </strong>
      <div class="card__body">
         View Payment
      </div>
      <span><a routerLink="/viewpayment">View Payment</a></span>
    </div> 
    
    
    <!-- <div class="card">
      <div class="icon">
    
      </div>
      <strong> Payment
      </strong>
      <div class="card__body">
         History
      </div>
      <span><a routerLink="">View Payment History</a></span>
    </div> -->
     
    <div class="card">
      <div class="icon">
    
      </div>
      <strong> 30
      </strong>
      <div class="card__body">
         Active Events
      </div>
      <span><a routerLink="/BookingList">BookingList</a></span>
    </div>
    
      
    </div>