<div class="container">


<div class="form-container">
  <div class="logo-container">
    Add Event
  </div>

  <form class="form">
    <div class="form-group">
      <label for="email">Event Type</label>
      <!-- <input type="text" id="email" name="email" placeholder="Enter your email" required=""> -->
      <select name="" id="">Select...</select>
    </div>

    <div class="form-group">
      <label for="email">Description</label>
      <input type="text" id="email" name="email" placeholder="Enter your email" required="">
    </div>

    <div class="form-group">
      <label for="email">Package</label>
      <input type="text" id="email" name="email" placeholder="Enter your email" required="">
    </div>

    <div class="form-group">
      <label for="email">Participant Count</label>
      <input type="text" id="email" name="email" placeholder="Enter your email" required="">
    </div>

    <div class="form-group">
      <label for="email">Charges</label>
      <input type="text" id="email" name="email" placeholder="Enter your email" required="">
    </div>


    <button class="form-submit-btn" type="submit">Add Event</button>
  </form>

</div>

</div>