<div class="container">


<div class="form-container">
  <div class="logo-container">
    Add Event
  </div>

  <form class="form">
    <div class="form-group">
      <label for="email">Event Type</label>
      <!-- <input type="text" id="email" name="email" placeholder="Enter your email" required=""> -->
      <select name="" id="">Select...</select>
    </div>

    <div class="form-group">
      <label for="email">Description</label>
      <input type="text" id="description" name="description" placeholder="Please enter Description" required="">
    </div>

    <div class="form-group">
      <label for="email">Package</label>
      <input type="text" id="package" name="package" placeholder="Choose Package" required="">
    </div>

    <div class="form-group">
      <label for="email">Participant Count</label>
      <input type="text" id="pcount" name="pcount" placeholder="Give the Participant Count" required="">
    </div>

    <div class="form-group">
      <label for="email">Charges</label>
      <input type="text" id="charges" name="charges" placeholder="Add Charges" required="">
    </div>


    <button class="form-submit-btn" type="submit" style="color: #A5D7E8;">Add Event</button>
  </form>

</div>

</div>