<div class="container">

<div class="card">
  <div class="icon">
  
  </div>
  <strong> 30
  </strong>
  <div class="card__body">
  Events Live Currently Live
  </div>
  <span><a routerLink="/AddEvent">Add Events</a></span>
</div>

<div class="card">
  <div class="icon">
    
  </div>
  <strong> 500
  </strong>
  <div class="card__body">
     Active Bookings
  </div>
  <span><a routerLink="/ListBooking">List All Bookings</a></span>
</div>


<div class="card">
  <div class="icon">

  </div>
  <strong> Payment
  </strong>
  <div class="card__body">
     History
  </div>
  <span><a routerLink="/ListPayment">View Payment History</a></span>
</div>

<div class="card">
  <div class="icon">

  </div>
  <strong> 30
  </strong>
  <div class="card__body">
     Active Events
  </div>
  <span><a routerLink="/ListEvents">View All Events</a></span>
</div>

  
</div>